#wrapper {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    padding-top: 3.25em;
}

#header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 3.25em;
    background-color: #2a2f4a;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10000;
}

#menu {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(36, 41, 67, 0.9);
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    transition: all 0.35s ease;
    z-index: 10002;
}

#banner {
    background-image: url("/images/banner.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60vh;
}