@import 'base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}




@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    max-width: 100%; /*Fill the page with #app */
    width: 100%; /* Let the #app fill the entire width of the page */
    display: flex;
    flex-direction: column; /* Arrange the content in columns */
    align-items: stretch; /* Make sure the child element fills the entire width */
    padding: 0;
  }

}

@media (prefers-color-scheme: dark){
  main{
    background-color: #121212;
  }
}
