.tiles {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    margin: -1em 0 0 -1em;
    padding: 8%;
    justify-content: center;
}

.tiles article {
    position: relative;
    width: calc(33.33333% - 5em);
    margin: 1em 0 0 1em;
    transition: transform 0.5s ease, opacity 0.5s ease;
    padding: 2%;
}

/* 图片容器 */
.tiles article > .image {
    display: block;
    width: 100%;
    border-radius: 4px;
    overflow: hidden;
    position: relative;
    transition: transform 0.5s ease;
}

.tiles article > .image img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Translucent overlay (background color)*/
.tiles article > .image:before {
    content: '';
    display: block;
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-color: #f2849e; /* will be overridden by the following styleN rule*/
    opacity: 0.8;
    z-index: 1;
    transition: background-color 0.5s ease, opacity 0.5s ease;
}

/* Diagonal Decorative Layer */
/* Slash Decoration Layer: Generate repeating slashes with pure CSS */
.tiles article > .image:after {
    content: '';
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    /* 45° repeat line: 1px solid + 5px blank */
    background-image: repeating-linear-gradient(
            45deg,
            rgba(255,255,255,0.2) 0,
            rgba(255,255,255,0.2) 1px,
            transparent 1px,
            transparent 6px
    );
    opacity: 0.25;
    z-index: 2;
    transition: opacity 0.5s ease;
}

/* Text & Interaction Layer */
.tiles article > a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    padding: 1em;
    border-radius: 4px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    z-index: 3;
    transition: background-color 0.5s ease, transform 0.5s ease;
}

.tiles article > a h2 {
    margin: 0;
}

.tiles article > a .content {
    width: 100%;
    max-height: 0;
    opacity: 0;
    line-height: 1.5;
    margin-top: 0.35em;
    transition: max-height 0.5s ease, opacity 0.5s ease;
}

.tiles article > a .content > :last-child {
    margin-bottom: 0;
}

/* Background color of different styles */
.tiles article.style1 > .image:before { background-color: #e7ab42; }
.tiles article.style2 > .image:before { background-color: #e47f34; }
.tiles article.style3 > .image:before { background-color: #85ced1; }
.tiles article.style4 > .image:before { background-color: #174b50; }
.tiles article.style5 > .image:before { background-color: #7e6a6a; }
.tiles article.style6 > .image:before { background-color: #493737; }

/* Hover effect (non-touchscreen devices) */
body:not(.is-touch) .tiles article:hover > .image {
    transform: scale(1.1);
}
body:not(.is-touch) .tiles article:hover > .image:before {
    background-color: #333;
    opacity: 0.35;
}
body:not(.is-touch) .tiles article:hover > .image:after {
    opacity: 0;
}
body:not(.is-touch) .tiles article:hover .content {
    max-height: 15em;
    opacity: 1;
}

/* Spacing before the first tiles */
* + .tiles {
    margin-top: 2em;
}

/* Initial state of the animation on page load */
body.is-preload .tiles article {
    transform: scale(0.9);
    opacity: 0;
}

/* Touchscreen devices always expand content */
body.is-touch .tiles article .content {
    max-height: 15em;
    opacity: 1;
}

/* Responsive Adjustment */
@media screen and (max-width: 1280px) {
    .tiles {
        margin: -0.5em 0 0 -0.5em;
    }
    .tiles article {
        width: calc(33.33333% - 0.5em);
        margin: 0.5em 0 0 0.5em;
    }
}

@media screen and (max-width: 980px) {
    .tiles {
        margin: -1em 0 0 -1em;
    }
    .tiles article {
        width: calc(50% - 1em);
        margin: 1em 0 0 1em;
    }
}

@media screen and (max-width: 736px) {
    .tiles {
        margin: -0.5em 0 0 -0.5em;
    }
    .tiles article {
        margin: 0.5em 0 0 0.5em;
    }
    .tiles article:hover > .image {
        transform: none;
    }
}

@media screen and (max-width: 480px) {
    .tiles {
        margin: 0;
    }
    .tiles article {
        width: 100%;
        margin: 0.5em 0 0 0;
    }
}

/* Background color of different styles in dark mode */
@media (prefers-color-scheme: dark) {
    .tiles article.style1 > .image:before { background-color: #e7ab42; }
    .tiles article.style2 > .image:before { background-color: #e47f34; }
    .tiles article.style3 > .image:before { background-color: #85ced1; }
    .tiles article.style4 > .image:before { background-color: #174b50; }
    .tiles article.style5 > .image:before { background-color: #7e6a6a; }
    .tiles article.style6 > .image:before { background-color: #493737; }
}